= simple_form_for [@client, @website] do |w|
  = simple_fields_for :features do |f|
    = f.error_notification

    .form-inputs
      / # = f.association :website
      = f.input :billing_units
      = f.input :quantity
      = f.input :name

    .form-inputs
      = w.association :client
      / # = w.association :features
      = w.input :billing_units
      = w.input :name
      = w.input :app_type
      = w.input :ssl
      = w.input :cdn

  .form-actions
    = w.button :submit
