%h1 Listing websites

%table
  %thead
    %tr
      %th Client
      %th Features
      %th Billing units
      %th Name
      %th App type
      %th Ssl
      %th Cdn
      %th
      %th
      %th

  %tbody
    - @websites.each do |website|
      %tr
        %td= website.client
        %td= website.features
        %td= website.billing_units
        %td= website.name
        %td= website.app_type
        %td= website.ssl
        %td= website.cdn
        %td= link_to 'Show', website
        %td= link_to 'Edit', edit_website_path(website)
        %td= link_to 'Destroy', website, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Website', new_website_path
