- content_for :title do
  / # = react_component('PageTitle', {clientName: @client.business_name ? @client.business_name : @client.contact_name, client: @client}, {server_side: false})
  = "Your client dashboard"
- content_for :sub_title do 
  = "Your homepage shows a general overview of your account"

/ If customer has existing invoices, show up here
.site-or-invoice-group
  .ui.grid
    .two.column.row
      .left.floated.column
        %h2 Websites Summary
      .right.floated.right.aligned.column
        = link_to "My Sites", client_websites_path(current_client), class: "ui basic button #{"disabled" if current_client.websites.empty?}"
  - if @websites.nil? || @websites.empty?
    = render :partial => 'layouts/none_yet', locals: {type: "websites"}       
  - @websites.each do |website|
    = render :partial => 'layouts/website_simple', locals: {subscription: website.stripe_subscription_id ? Stripe::Subscription.retrieve(website.stripe_subscription_id) : nil, website: website}

.site-or-invoice-group
  .ui.grid
    .two.column.row
      .left.floated.column
        %h2 Invoice Summary
      .right.floated.right.aligned.column
        = link_to "My Invoices", index_invoices_client_path(current_client), class: "ui basic button #{"disabled" if current_client.stripe_account_id.nil?}"


  - if @upcoming


    %ul.latest-charges

    
      %h5.pad-left Upcoming Invoices
      - invoice = @upcoming
      = render :partial => "layouts/invoice_simple", locals: { invoice: @upcoming, icon: "calendar outline", inactive: false }

      %h5.pad-left Latest
      - invoice = @invoices.data.shift
      = render :partial => "layouts/invoice_simple", locals: { invoice: invoice, icon: "checkmark green", inactive: false }      

      %h5.pad-left{class: @invoices.data.empty? ? "faded" : "" } Completed
      - @invoices.data.each do |invoice|  
        = render :partial => "layouts/invoice_simple", locals: { invoice: invoice, icon: "checkmark", inactive: true }     

  - if @upcoming
    .site-or-invoice-group
      .ui.grid
        .two.column.row
          .left.floated.column
            / %h2 Invoice Summary
          .right.floated.right.aligned.column
            = link_to "View More Invoices", index_invoices_client_path(current_client), class: "ui basic button #{"disabled" if current_client.stripe_account_id.nil?}"                         


  - else
    = render :partial => 'layouts/none_yet', locals: {type: "invoices"}       