= simple_form_for(@support_conversation) do |f|
  = f.error_notification

  .form-inputs
    = f.hidden_field :receiver_id, value: @receiver.uuid
    = f.hidden_field :author_id, value: current_client.uuid  
    = f.association :website, collection: @websites, :selected => @websites.last
    / https://github.com/plataformatec/simple_form/wiki/Nested-Models
    = f.simple_fields_for :messages do |m|
      .ui.field
        = m.label "Message"
        = m.text_area :body
        = m.hidden_field :client_id, value: current_client.uuid

  
    .ui.field
      = f.button :submit
