- content_for :title do 
  = "Your conversation with #{@support_conversation.with(current_client).contact_name}"
- content_for :sub_title do 
  = "Lodge support requests and view your support history here"
.ui.comments.segment
  -if @support_conversation
    - if @support_conversation.website_id?
      %h3.ui.dividing.header= "Support request for #{@support_conversation.website.name}"
    - else
      %h3.ui.dividing.header= "Chatting with #{@support_conversation.with(current_client).contact_name}"  
    / Chatting with #{@support_conversation.with(current_client).contact_name}
    = render @support_conversation.messages
    = simple_form_for @message do |f|
      = hidden_field_tag 'support_conversation_id', @support_conversation.id
      .ui.field
        = f.text_area :body
      .ui.field
        = f.button :submit, "Send"
