%h2 Sign up
.ui.two.column.stackable.grid
  .column
    = render "devise/shared/omniauth_links"
  .column
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = f.error_notification
      .form-inputs
        = f.input :email, required: true, autofocus: true, label: false, placeholder: "You email address"
        = f.input :password, required: true, label: false, placeholder: "Password (#{@minimum_password_length} characters min)"
        = f.input :password_confirmation, required: true, label: false, placeholder: "Confirm Password"
        .field
          = f.button :submit, "Sign up"
.ui.one.column.stackable.grid          
  .column
    = render "devise/shared/links"

