%h2 Change your password
.ui.one.column.grid
  .column
    = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
      = f.error_notification
      = f.input :reset_password_token, as: :hidden
      = f.full_error :reset_password_token
      .form-inputs
        = f.input :password, required: true, label: false, placeholder: "New Password (#{@minimum_password_length} characters min)"
        = f.input :password_confirmation, required: true, label: false, placeholder: "Confirm New Password"
        .field
          = f.button :submit, "Change my password"
.ui.one.column.grid          
  .column
    = render "devise/shared/links"
