%tr
  -if client.business_name?
    %td.positive
      = client.business_name
  -else
    %td.negative
      None
  -if client.contact_name?
    %td
      = client.contact_name
  -else
    %td.negative
      No Contact
  -if client.email?
    %td
      = client.email
  -else
    %td.negative
      No Contact   
  -if client.confirmed_at?
    %td.positive
      %i.icon.checkmark
      Confirmed 
  -else
    %td.negative
      %i.icon.close
      Not Confirmed
  %td.positive
    = client.billing_currency                   

%tr
  %td= link_to 'Show', client
  %td= link_to 'Edit', edit_client_path(client)
  %td
    %a{id: "modal__trigger__#{client.uuid}" }
      Resend invite
    .ui.modal.basic{id: "modal__#{client.uuid}" }
      .header Resend Invite for #{client.contact_name}
      .content
        = simple_form_for client, url: invitation_path(client), html: { method: :post} do |f|
          = f.input :email, :as => :hidden
          = f.button :submit, t("devise.invitations.new.submit_button")
    :javascript
      $("#modal__trigger__#{client.uuid}").click(function(){
        $('#modal__#{client.uuid}').modal('show');
      });
  %td= link_to 'Message', new_message_path(receiver_id: client)
  %td= link_to 'Delete', client, :method => :delete, :data => { :confirm => 'Are you sure?' }