- content_for :title, @client.business_name ? "Editing: #{@client.business_name}" : "Editing: #{@client.contact_name}"
- content_for :sub_title do 
  = "Edit your account details below"

.ui.segment.center.aligned
  = render 'form'

= link_to 'Show', @client
\|
= link_to 'Back', clients_path
