- content_for :title, @client.business_name ? @client.business_name : @client.contact_name
- content_for :sub_title do 
  = "Viewing your account details"
.ui.segment
  .ui.grid
    .ui.one.column.row
      .column
        .profile
          .ui.page.grid.one.column
            .column
              / {{&gt; userProfile}}
        .profile.ui.segments
          .ui.secondary.segment
            %h3 
              =@client.business_name
          .ui.segment    
            .meta
              %span.date Member since #{@client.created_at.year}

          .ui.segment
            %address
              %strong 
                =@client.contact_name
              %br/
              %span 
                =@client.email
          .ui.segment
            %strong
              Sites
            %br/
            -@client.websites.each do |site|
              = site.name
              = link_to "View", Domainatrix.parse(site.production_url).url, target: '_blank'
          .ui.segment
            .left.floated
              = link_to 'Edit', edit_client_path(@client)
              \|
              = link_to 'Back', clients_path   
            .right.floated
              = link_to 'Cancel Subscription', clients_path       

    .ui.three.column.stackable.row
      .column
        - fb = check_connection('facebook', 'Facebook')
        = fb.html_safe
      .column
        - google = check_connection('google_oauth2', 'Google')            
        = google.html_safe  
      .column
        - google = check_connection('linkedin', 'Linkedin')            
        = google.html_safe            
