%section.client-dashboard
  .ui.container

    / If customer has existing invoices, show up here
    -if @subscribed  
      .ui.segment
        %a.ui.ribbon.label{class: "subscription-#{@status}"} #{@status.capitalize}

      %ul.latest-charges

        %h6 Upcoming
        %li.charge.upcoming
          %i.ui.icon.calendar.outline
        = JSON.pretty_generate(@invoices.data.last.lines.data)
        %h6 Latest
        - @invoices.data.each do |invoice|
          %li.charge.active-charge.paid
            %i.ui.icon.checkmark
            date
            = invoice.date
            amount
            = Money.new(invoice.amount_due, @@client_currency)
            paid
            = invoice.paid?            
        %h6 Completed
        %li.charge.paid.inactive
          %i.ui.icon.checkmark
    -else
      .ui.segment
        %a.ui.ribbon.label Subscription Pending
        = render "subscriptions/new"