.ui.one.column.center.aligned.grid
  .column.six.wide.form-holder
    %h2.center.aligned.header.form-head Sign in
    = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      = f.input :email, required: false, autofocus: true, label: false, placeholder: 'email'
      = f.input :password, required: false, label: false, placeholder: "password"
      .field
        = f.button :submit, "Log in"
      / = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
      .inline.field
        .ui.checkbox
          %input{name: :remember_me, :type => "checkbox"}/
          %label Remember me
    = render "devise/shared/links"
