.header
  .ui.vertical.segment
    .ui.container#header-wrap    
      %a.toc.item.open
        %i.sidebar.icon
      .header-text
        %h1
          = yield :title 
        %p.sub-title
          = yield :sub_title
        = semantic_flash     

      .ui.inline.dropdown.flexed-drop
        .text
          - if current_client.oauth_avatar?
            = image_tag current_client.oauth_avatar, class: "ui avatar image"
          - else
            = image_tag current_client.avatar.url(:thumb), class: " ui avatar image"
          = current_client.business_name ? current_client.business_name : current_client.contact_name
        %i.dropdown.icon
        .menu
          .header
            - if current_client.oauth_avatar?
              = image_tag current_client.oauth_avatar, class: "ui avatar image"
            - else
              = image_tag current_client.avatar.url(:thumb), class: " ui avatar image"
            = current_client.business_name ? current_client.business_name : current_client.contact_name
          .divider            
          = link_to(destroy_client_session_path, :method => :delete, class: "item") do
            Sign Out
            %i.icon.lock.left.floated
          = link_to(edit_client_path(current_client), class: "item") do
            Edit your Account
            %i.icon.configure.left.floated

  .ui.vertical.segment
    .ui.container
      .four.column.row
        - if current_client.websites.empty?
          %button.ui.basic.button.disabled My Sites
        -else
          = link_to "My Sites", client_websites_path(current_client), class: "ui basic button"      
        %button.ui.basic.button{id: "modal__trigger__contact-options" }
          Get Help
  
  = render :partial => "layouts/modals/header_modals.haml"
          
            
