%li.charge{class: "#{invoice.paid ? "charge-paid" : "charge-upcoming"} #{inactive ? "inactive" : "" }"}
  .ui.right.aligned.grid
    .center.aligned.one.wide.column
      %i{class: "ui icon #{icon}"}
    .right.aligned.fifteen.wide.column
      .ui.right.aligned.grid
        .left.floated.left.aligned.ten.wide.column
          .ui.items
            .ui.item
              .content
                .header
                  Invoice : #{invoice.paid ? "paid" : "upcoming"}
                .meta
                  %span
                    = @client.business_name ? @client.business_name : @client.contact_name
        .right.floated.right.aligned.six.wide.column
          .ui.items
            .ui.item
              .content
                .header
                  = Money.new(invoice.amount_due, @client_currency)                     
                .meta
                  %span
                    = Time.at(invoice.date).to_date 
        .ui.divider                            
        .ui.accordion.sixteen.wide.column
          .title.ui.basic.button
            %i.dropdown.icon
            Invoice Details        
              
          .content.ui.grid
            %br 
            - invoice.lines.each do |charge|
              .center.aligned.two.column.row
                .left.floated.left.aligned.ten.wide.column
                  .ui.items
                    .ui.item
                      .content
                        = charge.description ? charge.description : charge.plan.name
                .right.floated.right.aligned.six.wide.column
                  .ui.items
                    .ui.item
                      .content
                        = Money.new(charge.amount, @client_currency)             
            .center.aligned.two.column.row                              
              .right.floated.right.aligned.six.wide.column
                .ui.items
                  .ui.item
                    .content
                      .header
                        = Money.new(invoice.amount_due, @client_currency)