!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    / Standard Meta
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0", :name => "viewport"}/
    / Site Properties
    %title Builtincode
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body

    .ui.left.vertical.labeled.icon.sidebar.menu.uncover.visible
      = link_to "LOGO HERE", root_path, class: "ui item"
      %a.item.active
        Home
      %a.item
        Topics
      %a.item
        Friends
      %a.item
        Settings


    %main.pusher

      .header
        .ui.vertical.segment
          .ui.container    
            %h1.ui Client Dashboard
            = semantic_flash
            %p This example shows how to use lazy loaded images, a sticky menu, and a simple text container
        .ui.vertical.segment
          .ui.container
            .ui.grid
              .four.column.row
                .left.floated.column
                  .ui.blue.button
                    View Site
                  .ui.blue.button
                    Request Help
                .right.floated.column

      = yield


      - if Rails.env == 'development'
        = console

      = render "layouts/footer"
