!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    / Standard Meta
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0", :name => "viewport"}/
    / Site Properties
    %title Builtincode
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body

    .ui.left.vertical.labeled.icon.sidebar.menu.uncover.visible
      = link_to "LOGO HERE", "https://www.builtincode.com", class: "ui item", target: "_blank"
      = link_to "Dashboard", root_path, class: "ui item #{active_class(root_path)}"
      = link_to "My Information", client_path(current_client), class: "ui item #{active_class(client_path(current_client))}"
      = link_to "My Websites", client_websites_path(current_client), class: "ui item #{active_class(client_websites_path(current_client))}"
      %a.item
        Help



    %main.pusher

      .header
        .ui.vertical.segment
          .ui.container    
            .ui.two.column.grid
              .column
                %h1.ui Client Dashboard
              .right.aligned.column
                .ui.inline.dropdown
                  .text
                    - if current_client.oauth_avatar?
                      = image_tag current_client.oauth_avatar, class: "ui avatar image"
                    - else
                      = image_tag current_client.avatar.url(:thumb), class: " ui avatar image"
                    = current_client.business_name ? current_client.business_name : current_client.contact_name
                  %i.dropdown.icon
                  .menu
                    .header
                      - if current_client.oauth_avatar?
                        = image_tag current_client.oauth_avatar, class: "ui avatar image"
                      - else
                        = image_tag current_client.avatar.url(:thumb), class: " ui avatar image"
                      = current_client.business_name ? current_client.business_name : current_client.contact_name
                    .divider
                    = link_to(destroy_client_session_path, :method => :delete, class: "item") do
                      Sign Out
                      %i.icon.lock.left.floated
                    = link_to(edit_client_registration_path, class: "item") do
                      Edit your Account
                      %i.icon.configure.left.floated


            = semantic_flash
            %p This example shows how to use lazy loaded images, a sticky menu, and a simple text container
        .ui.vertical.segment
          .ui.container
            .ui.grid
              .four.column.row
                .left.floated.column
                  .ui.blue.button
                    View Site
                  .ui.blue.button
                    Request Help
                .right.floated.column

      = yield


      - if Rails.env == 'development'
        = console

      = render "layouts/footer"
